.h3{
    text-align: center;
    color: white;
    font-size: 2rem;
    position: relative;
    justify-content: center;
    display: flex;
}

body {
    background:rgb(0, 0, 0);
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.opcoes{
        width: 900px;
        height: 500px;
        background: white;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px; 
}

.pg{
  width: 15rem;
  height: 5rem;
  background-color: rgb(4, 178, 190);
  border: none;
  border-radius: 3rem;

}

.pa{
    width: 15rem;
    height: 5rem;
    background-color: rgb(233, 201, 19);
    border: none;
    border-radius: 3rem;
  
  }

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: black;
}




